/////////////////////////////////////////////////////////////////
//COLOURS

$body-background: #fff;
$body-text: #000;

/////////////////////////////////////////////////////////////////
//FONTS

$font-default:							sans-serif;
$font-heading:                          serif;
$font-size:                             16px;
$line-height:		                    1.35;
$line-height-heading:                   1;

/////////////////////////////////////////////////////////////////
//SPACING

$spacing: em(20);

/////////////////////////////////////////////////////////////////
//PAGE WRAPPER

$wrapper-width:                       1500px;